body{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    -moz-transform: scale(1.50, 1.50);
    zoom: 1.50;
    zoom: 150%;
    font-family:roboto;
}

#scoreBoardDiv {
    position: absolute;
    bottom: 7px;
    width: 70%;
    left: 50%;        /* Horizontal position from the left */
    transform: translate(-50%);  /* Centers the div */
    padding: 5px;
}

.mySlides {
    transform: translate(-50%, -220%);  /* Centers the div */
}

#customLogo1 {
    right: 536px;
    height: 27px;
}

 #customLogo2 {
    left: 536px;
    height: 27px;
} 

#p1ExtIcon{
    top:9.0px;
    left: -19px;
}
#p2ExtIcon {
    top:9.0px;
    right: -19px;
}

.shotclockvis {
    bottom: 40px;
}