body{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    /* -moz-transform: scale(1.50, 1.50);
    zoom: 150%; */
    font-family: Arial, Helvetica, sans-serif;
}

#gameInfo {
    width: auto;
    max-width: 30%; 
}

/* #gameTypeImage {
    zoom: 66.666%;
} */

/* #ballTracker {
    zoom: 66.666%;
} */

#logoSlideshowDiv {
    top: 10%;
}

#scoreBoardDiv {
    width: 70%;
    top:89%;
}

.customLogo1 {
    right: 518px;
    height: 27px;
}
.customLogoWide1 {
    right: 556px;
    height: 26.5px;
}

.customLogo2 {
    left: 518px;
    height: 27px;
} 
.customLogoWide2 {
    left: 556px;
    height: 26.5px;
}

#p1ExtIcon{
    top: 9.0px;
    left: -30px;
}
#p2ExtIcon {
    top: 9.0px;
    right: -30px;
}

#player1Image {
    top: 9px;
    height: 24.5px;
}

#player2Image {
    top: 9px;
    height: 24.5px;
}

.shotclockvis {
    bottom: 40px;
}