body{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    -moz-transform: scale(2.00, 2.00);
    zoom: 2.00;
    zoom: 200%;
    font-family:Arial, Helvetica, sans-serif;
}

#scoreBoardDiv {
    position: absolute;
    bottom: 7px;
    width: 90%;
    left: 50%;        /* Horizontal position from the left */
    transform: translate(-50%);  /* Centers the div */
    padding: 5px;
}

.mySlides {
    transform: translate(-50%, -175%);  /* Centers the div */
}

#customLogo1 {
    right: 517px;
    height: 26px;
}

 #customLogo2 {
    left: 517px;
    height: 26px;
}

#p1ExtIcon{
    top:9.0px;
    left: -20px;
}
#p2ExtIcon {
    top: 9px;
    right: -20px;
}

.shotclockvis {
    bottom: 39px;
}