div {
	color:black !important; /*override white div font color */
}

.blue28, .tabcontent, .tab button:hover {
	background: #3345a3;
	border:0px;
	color: white !important;
}

.obs28, .tabcontent, .tab button.active {
	background: #f3f3f3;
	color: #000;
	border:0px;
}

.tab button {
	color: black !important;
}

#mainDiv {
	background: #e5e5e5;
}

hr {
	border-bottom:0px;
	border-top: 1px solid steelblue;
	border-left: 0px;
	border-right: 0px;
}

.hover:hover {
	background:#fefeff;
}

.clkd {
	color: lightgrey;
}

.themeSizeLabels{
	color:#000;
}




	
	
	
	
